@model IEnumerable<Task6.Models.EscapeRoom>

@{
    ViewData["Title"] = "Upravljanje sobama";
}

<div class="admin-page">
    <div class="admin-header">
        <div>
            <p class="profile-small-title">THE LAST KEY</p>
            <h1>Upravljanje Escape Sobama</h1>
        </div>

        <a asp-controller="Admin"
               asp-action="Dashboard"
               class="home-btn">
            Admin panel
        </a>
    </div>

    <a asp-controller="Admin"
           asp-action="CreateRoom"
           class="admin-add-btn">
        + Nova soba
    </a>

    @if (Model.Any())
    {
        <div class="admin-table-box">
            <table class="table admin-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Težina</th>
                        <th>Kapacitet</th>
                        <th>Cijena (KM)</th>
                        <th>Akcije</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var room in Model)
                    {
                        <tr>
                            <td>@room.RoomID</td>
                            <td>@room.Naziv</td>
                            <td>@room.Opis.Substring(0, Math.Min(30, room.Opis.Length))...</td>
                            <td>@room.Tezina</td>
                            <td>@room.Kapacitet</td>
                            <td>@room.Cijena</td>
                            <td>
                                <a asp-controller="Admin"
                                       asp-action="EditRoom"
                                       asp-route-id="@room.RoomID"
                                       class="admin-edit-btn">
                                    Uredi
                                </a>

                                <a asp-controller="Admin"
                                       asp-action="DeleteRoom"
                                       asp-route-id="@room.RoomID"
                                       class="admin-delete-btn">
                                    Obriši
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info">
            Nema registrovanih soba.
        </div>
    }
</div>