@model IEnumerable<Task6.Models.ApplicationUser>

@{
    ViewData["Title"] = "Upravljanje korisnicima";
}

<div class="admin-page">

    <div class="admin-header">
        <div>
            <p class="profile-small-title">THE LAST KEY</p>
            <h1>Upravljanje korisnicima</h1>
        </div>

        <a asp-controller="Admin"
               asp-action="Dashboard"
               class="home-btn">
            Admin panel
        </a>
    </div>

    <div class="admin-table-box">
        <table class="table admin-table">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                    <th>Uloga</th>
                    <th>Akcija</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var korisnik in Model)
                {
                    <tr>
                        <td>@korisnik.Ime</td>
                        <td>@korisnik.Prezime</td>
                        <td>@korisnik.Email</td>
                        <td>@korisnik.Uloga</td>

                        <td>
                            <form method="post"
                                  asp-controller="Admin"
                                  asp-action="ChangeUserRole"
                                  class="d-flex gap-2 align-items-center">
                                @Html.AntiForgeryToken()

                                <input type="hidden"
                                       name="id"
                                       value="@korisnik.Id" />

                                <select name="uloga"
                                        class="form-select w-auto">
                                    <option value="Korisnik">Korisnik</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Zaposlenik">Zaposlenik</option>
                                </select>

                                <button type="submit"
                                        class="admin-edit-btn">
                                    Promijeni
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>