@model IEnumerable<Task6.Models.ApplicationUser>

<h1 style="color:white;">Korisnici</h1>

<p>
    <a asp-action="Create" class="btn btn-light">
        Dodaj korisnika
    </a>
</p>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Uloga</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Ime</td>
                <td>@item.Prezime</td>
                <td>@item.Email</td>
                <td>@item.Uloga</td>
            </tr>
        }
    </tbody>
</table>